@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: #ffffff;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
}

h2{
    padding-top: 2rem;
    font-family: Orbitron;
}

#cat{
    font-family: Orbitron;
    padding-bottom: 2rem;
}

p{

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 7rem;
}

#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    width: 20%;
}

#logo > img{
    height: 110px;
    padding-left: 2rem;
}

#catalogonav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 3rem;
    padding-right: 5rem;
    width: 70%;
}

#catalogonav > a{
    padding: 1rem;
    border-radius: 5px;
    font-family: Orbitron;
    transition: background-color 0.3s ease, transform 0.2s ease;
}



/*#catalogonav > a:hover{
    background: linear-gradient(to right, #1E90FF, #39FF14)
}*/

#catalogonav > a:hover{
    background: linear-gradient(to right, #1E90FF, #39FF14);
    transform: scale(1.05);
}

#extra{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 3rem;
    padding-left: 5rem;
    width: 30%;
}

#extra > a{
    padding: 1rem;
    border-radius: 5px;
    font-family: Orbitron;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#extra > a:hover {
    background-color: var(--accent-green);
    transform: scale(1.05);
}

#extra > a:hover{
    background: linear-gradient(to right, #1E90FF, #39FF14)
}

#seccion1{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff0000, #006900, #0000ff);
    margin-bottom: 2rem;
}

#background{
    height: 96%;
    width: 99%;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

#seccion2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.destacado{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-family: Orbitron;
    font-size: 1.5rem;
    font-weight: 600;
}

#descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1rem;
}

#foto{
    display: flex;
    justify-content: center;
    width: 50%;
    border: 1px#39FF14 solid;
}

#ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

#ubicacion>p{
    padding: 1rem;
}

#ubicacion>iframe{
    width: 600px;
    height: 450px;
    border: 1px#39FF14 solid;  
}

.footer {
    text-align: center;
    padding: 20px;
    border-top: 2px #39FF14 solid var(--accent-green);
    color: var(--secondary-text-color);
    margin-top: 8px;
}