@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: #ffffff;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
}



header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 7rem;
}

#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    width: 20%;
}

#logo > img{
    height: 120px;
    padding-left: 2rem;
}

#catalogonav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 3rem;
    padding-right: 5rem;
    width: 70%;
}

#catalogonav > a{
    padding: 1rem;
    border-radius: 5px;
}



#catalogonav > a:hover{
    background: linear-gradient(to right, #1E90FF, #39FF14)
}

#extra{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 3rem;
    padding-left: 5rem;
    width: 30%;
}

#extra > a{
    padding: 1rem;
    border-radius: 5px;
}

#extra > a:hover{
    background: linear-gradient(to right, #1E90FF, #39FF14)
}

#seccion1{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff0000, #006900, #0000ff)
}

#background{
    height: 96%;
    width: 99%;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}